@model IEnumerable<ControleEstacionamento.Entidades.TabelaPreco>

@{
    ViewBag.Title = "Tabelas de Preços";
}

<h2>Tabelas de Preços</h2>

<p>
    @Html.ActionLink("Nova", "Create")
</p>
<table class="table table-condensed table-hover table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.inicioVigencia)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.finalVigencia)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.valorHoraInicial)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.valorHoraAdicional)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.inicioVigencia)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.finalVigencia)
        </td>
        <td class="text-right">
            @Html.DisplayFor(modelItem => item.valorHoraInicial)
        </td>
        <td class="text-right">
            @Html.DisplayFor(modelItem => item.valorHoraAdicional)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.handle }, htmlAttributes: new { @class = "glyphicon glyphicon-edit", title = "Editar" }) |
            @Html.ActionLink(" ", "Details", new { id = item.handle }, htmlAttributes: new { @class = "glyphicon glyphicon-search", title = "Detalhes" } ) |
            @Html.ActionLink(" ", "Delete", new { id=item.handle }, htmlAttributes: new { @class = "glyphicon glyphicon-remove", title = "Apagar" })
        </td >
    </tr>
}

</table>
