@model List<ControleEstacionamento.Entidades.MovimentacaoVeiculo>

<table class="table table-condensed table-hover table-responsive table-striped">
    <thead>
        <tr>
            <th>Placa</th>
            <th class="text-center">Entrada</th>
            <th class="text-center">Tempo Total</th>
            <th class="text-center">Valor Total</th>
        </tr>
    </thead>
    @{
        DateTime horaAtual = DateTime.Now;
        foreach (var movimentacao in Model)
        {
            movimentacao.saida = horaAtual;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => movimentacao.placa)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => movimentacao.entrada)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => movimentacao.tempoTotal)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => movimentacao.valorTotal)
                </td>
            </tr>
        }
    }
</table>
<p class="text-right">Última Atualização [<strong>@DateTime.Now</strong>]</p>